.navbar-brand {
    font-size: 50px;
}
body::before {
    display: block;
    content: '';
    height: 60px;
}
@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}
.course {
    padding-top: 90px;
}
.pdf {
    align-items: center;
}
.course-link {
    text-decoration: none;
    color: black;
}
#history-course {
    padding-top: 90px;
    margin: auto;
}
#course {
    padding-top: 90px;
}
h1 {
    font-size: 100px;
}
.subtitle {
    padding-top: 20px;
    color: #226e93;
    font-family: lato, sans-serif;
    font-size: 45px;
}
.two {
    display: flex;
    
}